<form>
    <div class="form-group">
      <label for="nome">Login</label>
      <input type="text" class="form-control" name="nome" id="nome" [(ngModel)]="login.usuario"><br/>
      <label for="nome">Senha</label>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="login.senha"><br/>
    </div>

    <a href="/cliente">
      <input type="button" class="btn btn-primary mt-4" value="Salvar">
    </a>
    <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
  
  </form>  